version: '3.7'
services:
  echodocker:
    image: jmalloc/echo-server
    restart: always
    ports: 
      - 10000:8080

  iris:
    build: 
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - 1972
      - 52773
      - 53773
    volumes:
      - ./:/irisdev/app
    environment:
      - PYTHONHOME=/usr
